<h3>Ingrese Producto</h3>
<form action="/" method="POST">
    Nombre <input type="text" name="nombre"><br>
    Precio <input type="number" name="precio"><br>
    Foto URL <input type="text" name="foto">
    <button type="submit">Enviar</button>
</form>