    <h3>Ingrese Producto</h3>
    <form action="/" method="POST">
        Nombre <input type="text" name="nombre">
        Precio <input type="number" name="precio">
        Foto URL <input type="text" name="foto">
        <button type="submit">Enviar</button>
    </form>